<a href="https://colab.research.google.com/github/heshu-000/learn-python3/blob/master/PYTHON_EXERCISE_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Average of three no..

In [ ]:
a=10
b=20
c=30
average=(a+b+c)/3
print(average)
print(type(average))

20.0
<class 'float'>

#Multiplication of 3 no..

In [ ]:
a=10
b=20
c=30
d=a*b*c
print(d)
print(type(d))

6000
<class 'int'>

# Dynamic addition of 2 no...

In [ ]:

a=int(input("enter a no: "))
b=int(input("enter a no: "))
addition=(a+b)
print(addition)
print(type(addition))

enter a no: 10
enter a no: 20
30
<class 'int'>

# Dynamic multipication of 2 no..

In [ ]:
a=int(input("enter a no: "))
b=int(input("enter a no: "))
multiplication=(a*b)
print(multiplication)
print(type(multiplication))

enter a no: 20
enter a no: 30
600
<class 'int'>

# Dynamic add 3 no..

In [ ]:
a=int(input("enter a no: "))
b=int(input("enter a no: "))
c=int(input("enter a no: "))
addition=(a+b+c)
print(addition)
print(type(addition))

enter a no: 20
enter a no: 10
enter a no: 20
50
<class 'int'>

# Dynamic multi 3 no..

In [ ]:
a=int(input("enter a no: "))
b=int(input("enter a no: "))
c=int(input("enter a no: "))
multi=(a*b*c)
print(multi)
print(type(multi))

enter a no: 10
enter a no: 10
enter a no: 10
1000
<class 'int'>

# Dynamic avg of 3 no..

In [ ]:
a=int(input("enter a no: "))
b=int(input("enter a no: "))
c=int(input("enter a no: "))
avg=(a+b+c)/3
print(avg)
print(type(avg))

enter a no: 10
enter a no: 10
enter a no: 0
6.666666666666667
<class 'float'>

# TYPE CONVERSIONS

## 1.INT TO FLOAT

In [ ]:
a=10
print(type(a))
b=float(a)
print(type(b))

<class 'int'>
<class 'float'>

## 2.float to int

In [ ]:
a=10.32
print(type(a))
b=int(a)
print(type(b))
print(b)

<class 'float'>
<class 'int'>
10

## 3.int to string

In [ ]:
a=10
print(type(a))
b=str(a)
print(type(b))
print(b)

<class 'int'>
<class 'str'>
10

## 4.float to string

In [ ]:
a=10.33
print(type(a))
b=str(a)
print(type(b))
print(b)

<class 'float'>
<class 'str'>
10.33

## 5.string to int

In [ ]:
a="10"
print(type(a))
b=int(a)
print(type(b))
print(b)

<class 'str'>
<class 'int'>
10

## Boolean

In [ ]:
a=30
b=20
c=a>b
print(bool(c))

True

## Boolean to int

In [ ]:
a=bool(30)
print(type(a))
b=int(a)
print(type(b))

<class 'bool'>
<class 'int'>

## Boolean to string

In [ ]:
a=bool(30)
print(type(a))
b=str(a)
print(type(b))

<class 'bool'>
<class 'str'>

# Complex

In [ ]:
a=5+2j
print(type(a))
b=str(a)
print(type(b))

<class 'complex'>
<class 'str'>

In [3]:
# checking  whether the triangle is equilateral, isosceles or scalene triangle
a=input("enter the value of 1st triangle")
b=input("enter the value of 2nd triangle")
c=input("enter the value of 3rd triangle")
if a==b==c:
     print("Equilateral triangle")
elif a==b or b==c or c==a:
	    print("isosceles triangle")
else:
    print("Scalene triangle")

enter the value of 1st triangle12
enter the value of 2nd triangle41
enter the value of 3rd triangle6
Scalene triangle

In [6]:
# checking weather entered year is a leap year or not

a=int(input("Enter year:"))
if (a%4==0):
   
    print("leap year")
else:
    print("not leap year")

Enter year:2021
not leap year

In [7]:
# find minimum among the numers
a=input("enter the value of 1st number")
b=input("enter the value of 2nd number")
c=input("enter the value of 3rd number")
if a<b and a<c:
     print("1st number is minimum")
elif a==b or b==c or c==a:
	    print("2nd number is minimum")
else:
    print("3rd number is minimum")

enter the value of 1st number12
enter the value of 2nd number3
enter the value of 3rd number8
1st number is minimum

In [8]:
# check whether a number is positive or negative or zero  
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 0
Zero