<a href="https://colab.research.google.com/github/heshu-000/learn-python3/blob/master/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create a Set
x = {"a", "b", "c"}
print(x)

{'c', 'b', 'a'}

In [2]:
#Sets cannot have two items with the same value.
x= {"a", "b", "c", "a"}

print(x)

{'c', 'b', 'a'}

In [3]:
#To determine how many items a set has, use the len() function
x= {"a", "b", "c"}

print(len(x))

3

In [4]:
# Set items can be of any data type:
set1 = {"a", "b", "c"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'c', 'b', 'a'}
{1, 3, 5, 7, 9}
{False, True}

In [5]:
# Loop through the set, and print the values:
y = {"a", "b", "c"}

for x in y:
  print(x)

c
b
a

In [6]:
# Check if "b" is present in the set:
x = {"a", "b", "c"}

print("b" in x)

True

In [7]:
# Add an item to a set, using the add() method:
x = {"a", "b", "c"}

x.add("ashok")

print(x)

{'c', 'b', 'a', 'ashok'}

In [8]:
# Add elements from tropical into thisset:
x = {"a", "b", "c"}
y = {"pi", "m", "p"}

x.update(y)

print(x)

{'c', 'b', 'p', 'pi', 'm', 'a'}

In [9]:
# Add elements of a list to at set:
x = {"a", "b", "c"}
y = ["k", "o"]

x.update(y)

print(x)

{'c', 'o', 'k', 'b', 'a'}

In [10]:
# Remove "b" by using the remove() method:
x = {"a", "b", "c"}

x.remove("b")

print(x)

{'c', 'a'}

In [11]:
# Remove "b" by using the discard() method
x = {"a", "b", "c"}

x.discard("b")

print(x)

{'c', 'a'}

In [12]:
#Remove the last item by using the pop() method:
y = {"a", "b", "c"}

x = y.pop()

print(x)

print(y)

c
{'b', 'a'}

In [13]:
#The clear() method empties the set:
x = {"a", "b", "c"}

x.clear()

print(x)

set()

In [17]:
# The del keyword will delete the set completely:
x = {"a", "b", "c"}

del x

print(x)

NameError: ignored

In [18]:
# Loop through the set, and print the values:
y = {"a", "b", "c"}

for x in y:
  print(x)

c
b
a

In [20]:
#The union() method returns a new set with all items from both sets:
a = {"ashok", "amruth" , "c"}
b = {1, 2, 3}

c = a.union(b)
print(c)

{'c', 1, 2, 'amruth', 3, 'ashok'}

In [21]:
# The update() method inserts the items in b into a:
a = {"ashok", "amruth" , "c"}
b = {1, 2, 3}

a.update(b)
print(a)

{'c', 1, 2, 'amruth', 3, 'ashok'}

In [22]:
# Keep the items that exist in both set x, and set y:
x = {"ashok", "b", "c"}
y = {"g", "m", "ashok"}

x.intersection_update(y)

print(x)

{'ashok'}

In [23]:
# Return a set that contains the items that exist in both set x, and set y
x = {"ashok", "b", "c"}
y = {"g", "m", "ashok"}

z = x.intersection(y)

print(z)

{'ashok'}

In [24]:
# Return a set that contains all items from both sets, except items that are present in both:
x = {"ashok", "b", "c"}
y = {"g", "m", "ashok"}

z = x.symmetric_difference(y)

print(z)

{'c', 'g', 'm', 'b'}