<a href="https://colab.research.google.com/github/heshu-000/learn-python3/blob/master/tuples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a Tuple:
thistuple = ("a", "b", "c")
print(thistuple)

('a', 'b', 'c')

In [ ]:
# Tuples allow duplicate values:
#Since tuples are indexed, they can have items with the same value:
thistuple = ("ashok", "ashok", " h", "h", "ashok")
print(thistuple)

('ashok', 'ashok', ' h', 'h', 'ashok')

In [ ]:
# To determine how many items a tuple has, use the len()
# function:Print the number of items in the tuple:
thistuple = tuple(("app", "hapi", "happy"))
print(len(thistuple))

3

In [ ]:

#One item tuple, remember the comma:
thistuple = ("a",)
print(type(thistuple))

#NOT a tuple
thistuple = ("ap")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
# Tuple items can be of any data type:
#String, int and boolean data types:
tuple1 = ("d", "k", "che")
tuple2 = (2, 5, 7, 9, 3,4)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('d', 'k', 'che')
(2, 5, 7, 9, 3, 4)
(True, False, False)

In [ ]:
#  A tuple with strings, integers and boolean values:
tuple1 = ("abc", 23, True, 18, "male")
print(tuple1)

('abc', 23, True, 18, 'male')

In [ ]:
# What is the data type of a tuple
mytuple = ("ashok", "ashok", "ashok")

print(type(mytuple))

<class 'tuple'>

In [ ]:
# Print the last item of the tuple
a = ("a", "aa", "che")
a = ("a", "aa", "che")
print(a[-1])

che

In [ ]:
# Return the third, fourth, and fifth item:
a = ("apple", "run", "ash", "ashok", "kiwi", "prajwal", "ashok")
print(a[2:5])

('ash', 'ashok', 'kiwi')

In [ ]:
# returns the items from the beginning to, but NOT included, "ram":
a = ("a", "b", "c", "o", "ram", "m", "ng")

print(a[:4])

('a', 'b', 'c', 'o')

In [ ]:
# returns the items from "oreo" and to the end
thistuple = ("app", "ban", "oreo", "o", "ki", "me", "man")

print(thistuple[2:])

('oreo', 'o', 'ki', 'me', 'man')

In [ ]:
# returns the items from index -3 (included) to index -1 (excluded)
t = ("app", "ban", "cher", "oreo", "ki", "lion", "mano")
print(t[-3:-1])

('ki', 'lion')

In [ ]:
#Convert the tuple into a list to be able to change it
x = ("ashok", "babu", "kancharla")
y = list(x)
y[1] = "k"
x = tuple(y)

print(x)

('ashok', 'k', 'kancharla')

In [ ]:
a = ("ashok", "babu", "ash")
y = list(a)
y.append("prajwal")
a = tuple(y)

print(a)

('ashok', 'babu', 'ash', 'prajwal')

In [22]:
# Create a new tuple with the value "o", and add that tuple:
x= ("a", "b", "c")
y = ("o",)
x += y

print(x)

('a', 'b', 'c', 'o')

In [23]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:
x= ("a", "b", "c")
y = list(x)
y.remove("a")
x = tuple(y)

print(x)

('b', 'c')

In [26]:

# Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [27]:
# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [28]:
# Add a list of values the "happy" variable:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *happy, red) = fruits

print(green)
print(happy)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [29]:
# Iterate through the items and print the values:
a = ("a", "b", "c")
for x in a:
  print(x)

a
b
c