<a href="https://colab.research.google.com/github/heshu-000/learn-python3/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="RRR movie has released"
print(a[2:5])

R m

In [ ]:
# modify the upper case
a="RRR movie has released"
print(a.upper())

RRR MOVIE HAS RELEASED

In [ ]:
#modify the lower case
a="RRR movie has released"
print(a.lower())

rrr movie has released

In [ ]:
a="RRR movie has released"
print(a.upper())
print(a.lower())

RRR MOVIE HAS RELEASED
rrr movie has released

In [ ]:
# replace
a="RRR movie has released"
print(a.replace("RRR", "RADHESHYAM"))

RADHESHYAM movie has released

In [ ]:
#modify the strip
a="RRR movie has released"
print(a.strip())

RRR movie has released

In [ ]:
# Split string 
a="RRR movie has released"
print(a.split())

['RRR', 'movie', 'has', 'released']

In [ ]:
# Split string 
a="RRR movie has released"
print(a.split(','))

['RRR movie has released']

In [26]:
PRICE="150"
QUANTITY="3"
ITEM="1"
NAME="THUMSUP"
MYORDER="I BUYED {3} WITH{0}HAVING{1} AND PURCHASING{2}"
print(MYORDER, format(PRICE,QUANTITY))

I BUYED {3} WITH{0}HAVING{1} AND PURCHASING{2} 150

In [46]:
S1=int(input("enter maths marks"))
S2=int(input("enter phy marks"))
S3=int(input("enter cse marks"))
S4=int(input("enter lab marks"))
a="I got {0} marks in maths,{1} marks in phy,{2} marks in cse,{3} marks in lab"
print(a.format(S1,S2,S3,S4))

enter maths marks90
enter phy marks9
enter cse marks89
enter lab marks90
I got 90 marks in maths,9 marks in phy,89 marks in cse,90 marks in lab